<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="examenhijo2-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
	<template is='dom-if' if='[[mostrarlista]]'>
		<ul id="mostrarlista">
			<li>VAL1</li>
			<li>VAL2</li>
			<li>VAL3</li>
		</ul>
	</template>
	<template is='dom-if' if='[[mostrartabla]]'>
		<table id="mostrartabla">
			<tr>
				<template is="dom-repeat" items='{{arrayHeaders}}'>
					<td>[[item]]</td>
				</template>
			</tr>
			<template is="dom-repeat" items='[[arrayValores]]' as="tablaDinamica"  >
				<tr>
						<td>[[tablaDinamica.valor1]]</td>
						<td>[[tablaDinamica.valor2]]</td>
						<td>[[tablaDinamica.valor3]]</td>
					
				</tr>
			</template>
		</table>
	</template>
   
  </template>

  <script>
    /**
     * `examenhijo2-element`
     * hijo2
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Examenhijo2Element extends Polymer.Element {
      static get is() { return 'examenhijo2-element'; }
      static get properties() {
        return {
         mostrarlista: {
            type: Boolean,
            value: false
          },
		  mostrartabla: {
            type: Boolean,
            value: false
          },
           arrayValores: {
            type: Array,
            value(){
				return [
					{valor1:"VALOR1",valor2:"valor2",valor3:"Valor3"},
					{valor1:"VALOR1",valor2:"valor2",valor3:"Valor3"},
					{valor1:"VALOR1",valor2:"valor2",valor3:"Valor3"}
				]
			}
          },
		   arrayHeaders: {
            type: Array,
            value(){
				return [
						"CABECERA1","CABECERA2","CABECERA3"
				]
			}
          }
          }
        };
     }
    

    window.customElements.define(Examenhijo2Element.is, Examenhijo2Element);
  </script>
</dom-module>
